/*reset, all*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

/*no scroll for reduced motion*/
@media screen and (prefers-reduced-motion: reduce) {
    *{
        scroll-behavior: auto;
    }
}

/*variable definitions*/
:root{
    /*colours*/
    --headerBG: #164C45; 
    --bodyBG: #f4e3cc;   
    --overlayBG: #000000e0;
    --tagBG: #AADBD5;
    --ingredientsBG: #386B64;
    --filterBG: #aadbd585;

    --overlayTxt: #818181;
    --overlayHoverTxt: #f1f1f1;
    --ingredientTxt: #ac1d1d;

    --timingYellow: #EBBB05;
    --heartRed: #ac1d1d;

    --surprisePurple: #7f1dac;

    /*spacings*/
    --heartSize: 3vw;
    --tagGap: 5px;
    --tagPadding: 3px 10px 4px;;

    /*font sizings*/
    --navBarText: 2rem;
    --homeH1: 5vw;
    --homeH2: 2vw;
    --homeP: 2.5vw;

    --overlayA: 3vw;

    --listingName: 2vw;
    --listingTag: 1.5vw;

    --ingredientP: 1.5vw;

    /*font weight*/
    --lightHeader: 50;

    --siteFont: 'Times New Roman', Times, serif;

    --dotSize: 16px;
}

/*flex directions and text alignments*/
.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.centerVertical {
    display: flex;
    align-items: center;
}

.centerHorizontal{
    margin: auto;
}

.centerTxt{
    text-align: center;
}

body {
    background-color: var(--bodyBG);
    min-width: 800px;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

/*navigation bar classes*/
.navBar {
    width: 100vw;
    height: 5vw;
    
    padding: 5px 2vw;

    background-color: var(--headerBG);

    position: sticky;
}

.navBar h1{
    color: white;

    font-size: max(2vw, 20px);
}

#navTitleText {
    text-decoration: underline;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--overlayBG);
    overflow-x: hidden;
    transition: 0.5s;
}

#overlayLinks {
    position: relative;
    top: 25%;
    text-align: center;
    margin-top: 30px;
}

#overlayLinks a, #overlayLinks a:visited {
    padding: 8px;
    text-decoration: none;
    font-size: max(var(--overlayA), 20px);
    color: var(--overlayTxt);
    display: block;
    transition: 0.2s;
}

#overlayLinks a:hover, #overlayLinks a:focus {
    color: var(--overlayHoverTxt);
    text-decoration: underline;
}

.closeOverlayBtn {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 4vw;
    color: var(--overlayTxt);

    text-decoration: none;
    transition: 0.2s;
}

.closeOverlayBtn:hover {
    color: var(--overlayHoverTxt);
}

/*nav bar icon classes*/
.navIcon {
    display: inline-block;
    cursor: pointer;

    margin-right: 20px;

    color: white;
    font-size: 2vw;
}

#prevBtn{
    text-decoration: none;
    padding-right: 10px;
}

#prevBtn:hover {
    text-decoration: underline;
    text-decoration-color: white;
    cursor: pointer;
}

/*search bar classes*/
.navBar .searchbarContainer{
    margin-left: auto;
}

.searchbarContainer {
    display: inline-block;
    background-color: white;

    border-radius: 0px;
}

.searchbarContainer input[type=search] {
    width: 25vw;
    min-width: 200px;

    height: 3vw;

    border: 0;

    font-size: max(1.25vw, 16px);
    font-family: var(--siteFont);

    color: grey;
    background: none;

    padding: 1vw;
}

.searchbarContainer input[type=search]:focus {
    outline: none;
}

.searchbarContainer a {
    display: inline-block;
    
    cursor: pointer;
    background: none;

    border: 0;

    font-size: 2vw;

    color: grey;
    margin-right: 1vw;

    transform: scaleX(-1);
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;

    z-index: 99;

    /*make items same width as autocomplete container*/
    top: 100%;
    width: 20vw;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*if/when navigating using arrow keys*/
    background-color: dodgerblue !important;
    color: #ffffff;
}

.autocomplete-item-text {
    text-transform: capitalize;
}

/*home classes*/
.homeWelcome{
    user-select: none;
}

.homeWelcome h1{
    margin-top: 10vh;
    margin-bottom: 2.5vh;

    font-size: max(var(--homeH1), 48px);

}

.homeWelcome h2{
    font-size: max(var(--homeH2), 24px); 
    font-weight: var(--lightHeader);

    margin-bottom: 5vw;
}

.homeLinks{
    display: flex;
    justify-content: space-around;
    align-items: baseline;

    
}

.homeLinkSection {
    transition: filter 0.4s, transform 0.4s;
}

.homeLinkSection:hover {
    transform: scale(1.05);
}

.teal {
    color: var(--headerBG);
}

.red {
    color: var(--heartRed)
}

.purple {
    color: var(--surprisePurple);
}

.homeLinks a, a:visited{
    color: black;
    text-decoration: none;
}

.homeLinks h1 {
    font-size: max(7vw, 60px);

}

.homeLinks p {
    font-size: max(var(--homeP), 20px);
    text-decoration: underline;
}

/*recipe listing classes*/
.recipeListing {
    margin: 10px 10px 25px 2vw;
}

.listingText{
    margin-left: 30px;
    gap: 10px
}

.listingText a{
    font-size: max(var(--listingName), 24px);
    color: black;
}

.listingText a:visited {
    color: black;
}

.listingsBody {
    justify-content: space-between;
}

.heart {
    font-size: max(var(--heartSize), 36px);
    color: grey;
    background: none;
    border: none;
}

.favourite {
    color: var(--heartRed);
}

.heart:hover{
    cursor: pointer;
    color: var(--heartRed);
}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap: var(--tagGap);
}

.tags span{
    background-color: var(--tagBG);
    color: var(--headerBG);
    font-weight: bold;
    font-family: sans-serif;

    border-radius: 50px;

    font-style: italic;
    padding: var(--tagPadding);
    margin-right: 10px;

    font-size: max(1.25vw, 18px);
}

.hidden {
    display: none;
}

/*filter classes*/
#filterForm {
    margin-top: 1vw;
    margin-right: 1vw;

    text-align: right;

    background-color: var(--filterBG);
    border-radius: 15px;
    border: 5px solid var(--headerBG);

    padding: 20px;
}

#filterForm h2{
    font-size: max(2.25vw, 24px); 
    font-weight: 200;
    letter-spacing: 0.5px;
    text-decoration: underline;
    margin-bottom: 5px;
}

.filterListing {
    display: flex;
    flex-direction: row-reverse;
}

.filterListing label {
    font-size: max(var(--listingName), 20px);
    margin-right: 10px;
}

#filterForm input[type=checkbox] {
    width: max(1vw, 20px);
    border-radius: 50px;

    accent-color: var(--headerBG);
}

#filterForm input[type=submit] {
    margin-left: auto;
    margin-top: 10px;

    font-family: var(--siteFont);
    font-size: max(1.2vw, 18px);

    width: 100%;
    background-color: var(--headerBG);
    color: white;
    border-radius: 30px;

    font-size: max(1.75vw, 20px);
    padding-bottom: 5px;
}


/*instruction page classes*/
.instructionsBody {
    flex: 1;
}

.ingredients {
    width: 25vw;
    
    background-color: var(--ingredientsBG);
    color: white;
}

.ingredients h2 {
    text-decoration: underline;
    font-weight: var(--lightHeader);
    font-size: max(1.75vw, 20px);

    padding-top: 2vh;
    padding-bottom: 10px;
}

.ingredients li {
    font-size: max(var(--ingredientP), 16px);
    margin-left: 3vw;

    padding: 5px 0px;
    padding-right: 3vw;
}

.mainInstBody {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.recipeHeader {
    padding: 10px 20px;
}

.recipeTitle {
    font-style: italic;
    justify-content: space-between;
    font-size: max(0.75vw, 10px);

    padding-bottom: 10px;
}

.line {
    height: 4px;
    border-radius: 50px;
    margin: calc((var(--dotSize) / 2) - 1px) 10px;
    background-color: var(--headerBG);
    flex: 1;
}

.dot {
    height: var(--dotSize);
    width: var(--dotSize);
    border-radius: 50px;
    background-color: var(--headerBG);
}

.recipeInfo {
    margin-top: 20px;
    gap: var(--tagGap);
}

.recipeInfo span{
    background-color: var(--timingYellow);

    border-radius: 15px;
    padding: 3px 10px 4px;

    font-size: max(var(--listingTag), 18px);
    margin-right: 10px;
}

.recipeInfo a, a:visited {
    color: black;
}

.instructionsText {
    margin-top: 10px;
}

.mainInstBody h2 {
    font-style: italic;
    text-decoration: underline;

    font-size: max(2.5vw, 30px);
}

.instructionsText ol {
    padding: 10px 20px;
}

.instructionsText li {
    font-size: max(1.7vw, 24px);
    margin-left: 1vw;

    padding: 10px 0px;
}

.instructionsText li span {
    color: var(--ingredientTxt);
}

#notesText {
    margin-bottom: 20px;
}

#notesText h2 {
    padding-left: 20px;
}

#notesText p {
    font-size: max(1.7vw, 24px);


    padding: 10px 20px;
}