/*reset, all*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

/*no scroll for reduced motion*/
@media screen and (prefers-reduced-motion: reduce) {
    *{
        scroll-behavior: auto;
    }
}

/*variable definitions*/
:root{
    /*colours*/
    --headerBG: #164C45; 
    --bodyBG: #D9D9D9;   
    --overlayBG: #000000e0;
    --tagBG: #AADBD5;

    --overlayTxt: #818181;
    --overlayHoverTxt: #f1f1f1;

    --starYellow: #EBBB05;

    /*spacings*/
    --starSize: 2.5vw;
    --tagGap: 5px;

    /*font sizings*/
    --navBarText: 2.5rem;
    --homeH1: 5vw;
    --homeH2: 2vw;
    --homeP: 2vw;

    --overlayA: 3vw;

    --listingName: 2vw;
    --listingTag: 1.25vw;

    /*font weight*/
    --lightHeader: 50;
}

/*flex directions and text alignments*/
.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.centerVertical {
    display: flex;
    align-items: center;
}

.centerHorizontal{
    margin: auto;
}

.centerTxt{
    text-align: center;
}

body {
    background-color: var(--bodyBG);
}

/*navigation bar classes*/
.navBar {
    width: 100vw;
    
    padding: 5px 20px;

    background-color: var(--headerBG);
}

.navBar h1{
    color: white;
    text-decoration: underline 2px;

    font-size: var(--navBarText);
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--overlayBG);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlayLinks {
    position: relative;
    top: 25%;
    text-align: center;
    margin-top: 30px;
}

.overlayLinks a, .overlayLinks a:visited {
    padding: 8px;
    text-decoration: none;
    font-size: max(var(--overlayA), 20px);
    color: var(--overlayTxt);
    display: block;
    transition: 0.2s;
}

.overlayLinks a:hover, .overlayLinks a:focus {
    color: var(--overlayHoverTxt);
    text-decoration: underline;
}

.closeOverlayBtn {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 60px;
    color: var(--overlayTxt);

    text-decoration: none;
    transition: 0.2s;
}

.closeOverlayBtn:hover {
    color: var(--overlayHoverTxt);
}

/*nav bar icon classes*/
.navIcon {
    display: inline-block;
    cursor: pointer;

    margin-right: 20px;

    color: white;
    font-size: 30px;
}

/*search bar classes*/
.navBar .searchbarContainer{
    height: 70px;
    
    margin-left: auto;
}

.navBar input[type=text] {
    width: 30vw;
    min-width: 200px;
    
    padding: 10px;
    margin-top: auto;

    border-radius: 50px;
}

.navBar .searchbarContainer button {
    cursor: pointer;
}

/*home classes*/
.homeWelcome{
    user-select: none;
}

.homeWelcome h1{
    margin-top: 10vh;
    margin-bottom: 2.5vh;

    font-size: max(var(--homeH1), 48px);
}

.homeWelcome h2{
    font-size: max(var(--homeH2), 24px); 
    font-weight: var(--lightHeader);

    margin-bottom: 20vh;
}

.homeLinks{
    justify-content: space-around;

    font-size: max(var(--homeP), 20px);
}

.homeLinks a, a:visited{
    color: black;
    text-decoration: none;
    transition: 0.2s
}

.homeLinks a:hover{
    text-decoration: underline;
}

/*recipe listing classes*/
.recipeListing {
    background-color: yellow;
    margin: 10px;
}

.listingText{
    margin-left: 10px;
    gap: 10px
}

.listingText a{
    font-size: max(var(--listingName), 24px);
}

.star {
    width: max(var(--starSize), 30px);
    height: max(var(--starSize), 30px);
    aspect-ratio: 1;
    clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
    background-color: blueviolet;
    outline: #4CAF50 solid 4px;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap: var(--tagGap);
}

.tags span{
    background-color: var(--tagBG);
    color: var(--headerBG);
    font-weight: bold;
    font-family: sans-serif;

    border-radius: 5px;

    font-style: italic;
    padding: 2px 5px 3px 4px;
    margin-right: 10px;

    font-size: max(var(--listingTag), 16px);
}